* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form,
.form2 {
    max-width: 700px;
    width: 100%;
    margin: 50px auto;
    padding: 60px;
    background-color: rgb(188, 215, 252);
    display: flex;
    flex-direction: column;
    gap: 30px;
}


input {
    width: 100%;
    height: 30px;
    outline: none;
    background-color: rgb(249, 235, 212);
    /* color: black; */
    border-color: black;
    border-radius: 6px;
}

input::placeholder {
    color: black;
}

.btn {
    width: 100%;
    height: 30px;
    background-color: lightblue;
    color: black;
    border-color: black;
    border-radius: 6px;
}

.productCard {
    max-width: 700px;
    width: 100%;
    margin: 50px auto;
    background-color: rgb(146, 185, 240);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 13px;
    position: relative;
}

.close{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    position: absolute;
    right: -13px;
    top: -16px;
    opacity: 0;
    transition: all 1s;
}
