// text - colors
$nav-link: #fff;
$text-color: #81afdd;

// bg-colors

$btn-bg: #ff4820;
$blue-bg: #042c54;
$header-input: #052d56;
$body-bg: #040c18;
$gradient: linear-gradient(
    90deg,
    rgba(174, 103, 250, 1),
    rgba(244, 152, 103, 1)
  );
