/* .color {
    color: red;
} */
/* p {
    color: yellow;
    background-color: grey;
}

.active {
    color: orange;
    background-color: aqua;
} */

/* .color {
    color: aquamarine;
    font-weight: 600px;
    background-color: blue;
}
button {
    border-radius: 25px;
    background-color: aqua;
    padding: 10px 25px;
} */

/* p {
    background-color: white;
    padding: 12px;
}

.active{
    color: white;
    background-color: black;
    padding: 12px;
} */

/* .hide {
    display: none;
}

.show {
    display: block;
} */